@using IntegrationProject.Models;
@using Microsoft.AspNetCore.Components.Forms


<div class="dialog-container">
    <div class="dialog col-sm-3">
        <div class="dialog-title">
            <h2>@ModalType</h2>
        </div>
       
            <div>
                <EditForm Model="Flight" OnValidSubmit="OnConfirm">
                    <DataAnnotationsValidator />
                     <div class="col-sm-5 mx-auto">
                        <div>
                            <label class="form-label mt-4" for="FlightNumber">Flight Number:
                            <InputText id="FlightNumber" class="form-control" @bind-Value="Flight.FlightNumber" />
                            </label>
                            <ValidationMessage For="@(() => Flight.FlightNumber)" />
                        </div>

                        <div>
                            <label class="form-label mt-4" for="Takeoff">
                                Takeoff Date:
                                <InputDate Type="InputDateType.DateTimeLocal" @bind-Value:format="HH:mm" @bind-Value="Flight.Takeoff" class="form-control" />
                            </label>
                            <ValidationMessage For="@(() => Flight.Takeoff)" />
                        </div>

                        <div style="margin-top:20px;margin-bottom:20px">
                            <label>Delayed </label>
                            <InputCheckbox @bind-Value="Flight.Delayed" /> 
                        </div>

                     
                    </div>
                    <div class="dialog-buttons">
                        <button type="button" class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
                        <button type="submit" class="btn btn-success ml-auto">Submit</button>
                    </div>
                    
                </EditForm>
                
           
            </div>
    </div>
</div>

@code {
    [Parameter]
    public required Flight Flight { get; set; }
    [Parameter]
    public required String ModalType { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }
    [Parameter]
    public EventCallback OnConfirm { get; set; }
    

}